<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="nfc_app.nfc_app" android:versionCode="1" android:versionName="1.0">
  <uses-permission android:name="android.permission.NFC" />
  <uses-feature android:name="android.hardware.nfc" android:required="true" />
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="Brauki ir eini" android:theme="@android:style/Theme.NoTitleBar"></application>
</manifest>